@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="container">
	<div class="row">
		<div class="col-12 mb-3">
			<div class="card shadow-sm">
				<div class="card-body">
					<div class="text-center">
						<h1 class="display-4">Welcome</h1>
						<p>Develop by <a href="https://github.com/aungaung99">Aung Naing Oo</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-start border-primary border-0 border-2 shadow-sm">
				<div class="card-body">
					<img class="img-fluid float-end" src="~/images/cryptojs.jpg" />
					<h4 class="card-title text-secondary">Crypto JS</h4>

					<div class="mb-3">
						<p>
							Original documentation<br />
							<a href="https://cryptojs.gitbook.io/docs/" target="_blank" class="link-primary">
								<i class="fa fa-link"></i>&nbsp; https://cryptojs.gitbook.io/docs
							</a>
						</p>
						References Link
						<br />
						<a href="https://code.google.com/archive/p/crypto-js">
							<i class="fa fa-link"></i>&nbsp;  https://code.google.com/archive/p/crypto-js
						</a>
					</div>

					<a class="btn btn-primary w-100" asp-page="/Crypto/Index">Click Here to Test Page</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-start border-primary border-0 border-2 shadow-sm">
				<div class="card-body">
					<img class="img-fluid float-end" src="~/images/mapbox.png" style="height:70px" />
					<h4 class="card-title text-secondary">Map Box</h4>

					<div class="mb-3">
						<p>
							Original documentation <br />
							<a href="https://docs.mapbox.com/mapbox-gl-js/api" target="_blank" class="link-primary">
								https://docs.mapbox.com/mapbox-gl-js/api
							</a>
						</p>
						<p>
							<a href="https://www.mapbox.com" target="_blank" class="link-primary">
								<i class="fa fa-link"></i>&nbsp;Service Link https://www.mapbox.com
							</a>
						</p>
						<p>
							<a href="https://docs.mapbox.com/mapbox-gl-js/example/marker-from-geocode" target="_blank" class="link-primary">
								<i class="fa fa-link"></i>&nbsp; Add a marker using a place name
							</a>
						</p>
					</div>

					<a class="btn btn-primary w-100" asp-page="/MapBox/Index">Click Here to Test Page</a>
				</div>
			</div>
		</div>
	</div>
</div>
<partial name="_ScriptsPartial" />
